/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    /*font-size: 1em;*/
    font-size: 12px;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Colores*/


.color-primary-0 { color: #955BC7 }	/* Main Primary color */
.color-primary-1 { color: #D4B3F0 }
.color-primary-2 { color: #B382DD }
.color-primary-3 { color: #793CAE }
.color-primary-4 { color: #64229D }

.color-secondary-1-0 { color: #D85AAC }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #F4B2DD }
.color-secondary-1-2 { color: #E781C4 }
.color-secondary-1-3 { color: #C73B96 }
.color-secondary-1-4 { color: #B41C7F }

.color-secondary-2-0 { color: #CCF566 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #E9FCB8 }
.color-secondary-2-2 { color: #D9F98B }
.color-secondary-2-3 { color: #C0F148 }
.color-secondary-2-4 { color: #A6DC23 }

.color-complement-0 { color: #FFF86B }	/* Main Complement color */
.color-complement-1 { color: #FFFCBA }
.color-complement-2 { color: #FFFA8F }
.color-complement-3 { color: #FFF74C }
.color-complement-4 { color: #E9E125 }

/*Fin Colores*/

body {
  color:#444444;
  font-family: 'Raleway','Montserrat','Source Sans Pro',sans-serif;
  font-weight: 400; 
  font-style: normal;
  line-height: 1.5;
  font-size: 100%;
}

h1 {
  font-family: 'Zilla Slab','Bree Serif','Roboto Slab','Vollkorn',serif;
  font-weight: bold;
  font-size: 300%;
  line-height: 1.35;
  letter-spacing: 0em;
  margin-bottom: 1.25em;
  color: black;
}
h1.header-hero__heading{
	font-family: 'Montserrat','Raleway','Source Sans Pro',sans-serif;

}
h2 {
  font-size: 250%;  
  font-family: 'Raleway','Montserrat','Source Sans Pro',sans-serif;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 0.5em;
  color: #444444;
}
h2.need_value{
	font-family: 'Raleway','Montserrat','Source Sans Pro',sans-serif;
}
.h2 a {
  text-decoration: none;
  color: black;
}

h3 {
  color:#444444;
  font-size: 200%;
  font-family: 'Zilla Slab','Bree Serif','Roboto Slab','Vollkorn',serif;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.3125em;
}

h4 {
  color:#444444;
  font-size: 130%;
  font-family: 'Zilla Slab','Bree Serif','Roboto Slab','Vollkorn',serif;
  line-height: 1.4;
  margin-bottom: 0.625em;
}

h5 {
  color:#444444;
  font-size: 93%;
  font-weight: bold;
  font-family: 'Zilla Slab','Bree Serif','Roboto Slab','Vollkorn',serif;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.625em;
  color: #555555;
}

.container{
	display:block;
}
   .o-header{
		background-color:#A493A8;
		background-image:url(../img/bannerprueba.jpg);
		position:relative;
		width:100%;
		height:5%;
	}
	.header-hero__heading{
		color:#ffffff
	}
	.o-header-container{
		min-height:5em;
		
	}
	#logo{
		font-size=0;
		width:100%;
		overflow:hidden;
	}
	.logo {
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
	max-width:500px;
    min-height: 5%;
	max-height:200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
	padding-top:0.5%;
}
.need{
	background-color:#FFFCE2;
	overflow:hidden;
}
#referencias{
	background-color:#FFFCBA;
	
}
footer{
	background-color:#D4B3F0;
}
.mod-document .o-header.header-size-m .header-hero {
display: block;
}
.mod-document .o-header .header-hero {
    display: block;
    text-align: center;
    position: relative;
}
#h-titulo{
	display:none;
}
   
.container-row {
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}
.document-sidebar, .page {
  width: 100%;
}
.document-sidebar .nav-pages .item > a {
    font-family: "Source Sans Pro",'Montserrat', -apple-system, BlinkMacSystemFont, Roboto, Helvetica,'Raleway', Arial, sans-serif;
    color: #64229D;
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: normal;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}
.nav-pages .item>a {
    display: block;
    color: #555;
    font-size: .9rem;
    text-decoration: none;
    line-height: 1.2;
    padding: 0.3em;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.category-pages{
	list-style:none;
	padding-left:0;
}
img.media{
	width:100%;
	max-width:40em;
	padding: 1%;
}
img.vertical{
	max-width:20em;
}

.btn-top {
    display: block;
    visibility: hidden;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    color: #898989;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 25px;
    text-align: center;
    line-height: 27px;
    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
}

.btn-top.state-visible {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}


@media (min-width: 600px) {
  .document-sidebar {
    width: 25%;
	position:absolute;
	margin:auto;
    overflow-y: auto;
  }

  .page {
    width: 75%;
	margin:auto;
	margin-right:0;
  }
   .nav-pages {
    padding: 35px 0 50px;
    position: relative;
	}
	.document-sidebar.sticky {
		position: fixed;
		overflow: auto;
		top:0;
	}
}
@media (min-width: 700px){
	#h-titulo{
		display:block;
		
	}
	.logo{
		float: left;
		position:absolute;
		width:20%;
	}
	img.media{
	width:75%;
	}
}
@media (min-width: 800px) {
	img.media{
	width:60%;
	}
  .container-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
	h1 {
	
	font-size: 400%;
	
	}
	
	h2 {
	  font-size: 300%;  
	  
	}
	
	h3 {
	  
	  font-size: 250%;
	  
	}

	h4 {
	  
	  font-size: 150%;
	  
	}

	h5 {
	  font-size: 100%;
	  
	}
  
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
